@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme|Ma+Shan+Zheng&display=swap');
html{
background: url(../images/home-banner.jpg) no-repeat center fixed; 
background-size: cover;
background-color: rgba(0,0,0,0.5);
 background-blend-mode: lighten;
z-index: -1;
}

.head{
	background-color: violet;
    }
    
h1{
    font-family:verdana;
     font-size:300%;
      text-align: center;
      font-family: 'Ma Shan Zheng', cursive;
}
@media screen and (max-width:1020px)
{
  img{
    width:100px;
    float: left;
    margin-left: 900;
   
  }
  .par{
    font-size: 2vw;
    
  }
  .b0,.b1{
    float:center;
  }
}

.button {
  padding: 15px 25px;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333;

  }

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.b0{
	margin-left: 500px;
	width:20vw;
}
.b1{
	margin-top: 15px;
	margin-left: 500px;	
	width:20vw;
}


.par{
    background: url(../images/yellow.jpg) center fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    padding:50px 50px;
    float:left
    
}

p{
	font-family: 'Acme', sans-serif;

}

img{
    width:300px;
    height:300px;
    margin-left:15px;
    float:right;
    border-radius:50px;
}
