
  html{
    background: url(../images/home-banner.jpg) no-repeat center fixed; 
      background-size: cover;
      background-color: rgba(0,0,0,0.3);
         background-blend-mode: lighten;
    }

    .head{
        background-color: violet;
        }
        
    h1{
        font-family:verdana;
         font-size:3vw;
          text-align: center;
          font-family: 'Ma Shan Zheng', cursive;
    }
    pre{
        background-color:lightslategray;
        color:lawngreen;
        font-size:1.4vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    padding:15px 5px 15px 5px;
}


    
   @media screen and(max-width:1060px)
    {
        pre{
            width:100%;
        }
        html{
            width:100%;
        }
        table{
            width:100%;
        }
        .images{
            width:100%;
        }
    }
  
    .images{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 20px;
        padding: 5px 5px;
        width: 400px;
        align-self: center;
        
      }
      